body {
  margin: 0;
  font-family: sans-serif;
}



.header {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.header .header__BQlogo {
  float: left;
  margin-left: 50px;
}

.header .header__navbar {
  margin-right: 60px;
  display: flex;
  margin-left: auto;
}

.logocls {
  height: 90px;
  width: 100px;
  border-radius: 25%;
}

.header .header__menu, .header {
  display: flex;
}

.header .header__menu {
  font-size: 20px;
  padding-top: 15px;
  padding-right: 40px;
}

.header .header__menu .header__items {
  display: inline;
  padding-left: 36px;
}

.header__items a {
  text-decoration: none;
  color: #ff9109;
  margin-top: 5px;
}

.header .header__navbarBtn {
  border: 1.5px solid #DCDCDC;
  font-size: 18px;
  padding: 10px 30px;
  text-align: center;
}

.banner {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  margin: 0;
  color: white;
}


#search {
  padding-top: 10px;
  padding-right: 50px;
}

::placeholder {
  font-size: 15px;
}

#searchbtn {
  size: 20px;
}



#job {
  border: 1px red;
  padding-left: 20px;
}
#job h3,h2 {
  color: #ff9109;
}

#apply {
  margin-top: 20px;
}


.footer p {
  color:white;
  padding-top: 15px;
  padding-left: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: black;
}


.footer .footer__navbar {
  margin-right: 60px;
  display: flex;
  margin-left: auto;
}




.footer .footer__menu, .footer {
  display: flex;
}

.footer .footer__menu {
  font-size: 20px;
  padding-top: 5px;
  padding-right: 40px;
}

.footer .footer__menu .footer__items {
  display: inline;
  padding-left: 36px;
}

.footer__items a {
  text-decoration: none;
  color: #ff9109;
  margin-top: 5px;
}
.description p {
  color: black;
}

.jobfilters {
  display: flex;
}
.filters {
  flex: 50%;
}

.example_f {
  border-radius: 4px;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}
.example_f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.example_f span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.example_f:hover span {
  padding-right: 25px;
}
.example_f:hover span:after {
  opacity: 1;
  right: 0;
}